.subheading-title {
  color: black;
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 3rem;
  text-align: center;
  width: 100%;
}

.dark .subheading-title {
  color: #f3f4f6;
}

@media (min-width: 769px) and (max-width: 1023px) {
  .subheading-title {
    font-size: 2.75rem;
    margin-bottom: 4rem;
  }
}

@media (min-width: 1024px) {
  .subheading-title {
    font-size: 1.875rem;
  }
}